log/
output/
processing/pythia_shower/event_mixer_multisource
processing/pythia_shower/shower_normal
processing/pythia_shower/shower_phi
*.tar.gz
*.tar.gz.bak
*.root
*.lhe
*.txt
*.log
*.out
*.err
*.tgz
*.dag*
dagman.config
__pycache__/
*.pyc
tmp/